@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #E1DCC5;
    color: #252d30;
}

main {
    background-color: #fff;
    min-height: 100vh;
}

.card {
    background-color: #F9F9F9;
}

.card a {
    background-color: #0376b8;
    color: #fff;
}

.card h4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card img {
    max-height: 300px;
    width: 175px;
}