.card {
    background-color: white !important;
    box-shadow: 4px 4px 11px black;

}

.card-img-top {
    object-fit: contain;
}

.card h6 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card .published {
    font-size: 0.8rem;
}

.card-footer {
    background-color: transparent !important;
}

.card-footer a {
    font-size: 0.7rem !important;
}